.wrapper {
  text-align: center;
}

.wrapper .border {
  width: 500px;
  height: 313px;
  border: black solid 2px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;

  background: rgb(69, 135, 173);

  overflow: visible;
}

.wrapper h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.wrapper .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1.2rem 0;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.1rem;

  margin-top: 1rem;
  transition: 0.2s ease;
}

.wrapper .btn:hover {
  background: rgb(76, 151, 195);
  color: white;

  transition: 0.3s ease;
}

.wrapper .btn:active {
  background: rgb(34, 87, 118);
  color: white;

  transition: 0.2s ease;
}

.wrapper .border img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  transition: 0.1s ease-in-out;
  user-select: none;
  -webkit-user-drag: none;

  transform: scale(1);
  cursor: pointer;
}
.wrapper img:hover {
  transform: scale(1.2);
}

.wrapper img:active {
  transition: all 0.1s ease-out;
  transform: scale(1.4);
}

.wrapper .pressure {
  transform: scale(1.8) translateY(0.5rem);
  overflow: hidden !important;
}
.wrapper .pressure:hover {
  transform: scale(2) translateY(0.5rem);
  overflow: hidden !important;
}
.wrapper .pressure:active {
  transform: scale(2.2) translateY(0.5rem);
  transition: none;
  overflow: hidden !important;
}

/* when the wrapper contains the pressure class with :has selector and target the border and change the overflow to hidden */
.wrapper:has(.pressure) .border {
  overflow: hidden !important;
}

/* Progress bar */
.progress {
  margin:auto;
  border-radius: 5px;
  background: #fff;
  height: 20px;
  width: 35%;
  color:red;
}

.wrapper2 {
  border: 3px solid blue;
}

.container {
  background-color: pink;
}

.barCompleted {
  background-color: lightblue;
  width: 80%;
}

.label {
  font-size: 20px;
  color: green;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: var(--chamelii-primary);
  height: 8rem;
}

.navbar img {
  width: 200px;
  border-radius: 10px;
}

.navbar h1 {
  font-size: 26px;
}

.navbar h1:hover {
  transform: scale(1.1);
  font-weight: 700;
}