.wrapper {
  text-align: center;
  padding: 10px;
}

.wrapper .border {
  width: 500px;
  border: black solid 2px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;

  background: rgb(69, 135, 173);
}

.wrapper h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.wrapper .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1.2rem 0;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.1rem;

  margin-top: 1rem;
  transition: 0.2s ease;
}

.wrapper .btn:hover {
  background: rgb(76, 151, 195);
  color: white;

  transition: 0.3s ease;
}

.wrapper .btn:active {
  background: rgb(34, 87, 118);
  color: white;

  transition: 0.2s ease;
}

.wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding: 2rem;
  transform: translateY(-1rem);
  transition: 0.1s ease-in-out;

  cursor: pointer;
}
.wrapper img:hover {
  transform: scale(1.2) translateY(-1rem);
}

.wrapper img:active {
  transition: all 0.1s ease-out;
  transform: scale(1.4) translateY(-1rem);
}

.wrapper .loader {
  width: 300px;
}

.wrapper h4 {
  font-size: 1.5rem;
  margin: auto;
  margin-bottom: 5px;
  color: rgb(9, 33, 48);
}
.wrapper h1 {
  font-size: 2rem;
  color: rgb(9, 33, 48);
}
.wrapper .karma {
  color: rgb(23, 137, 23);
}
