.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--chamelii-primary);

  height: 8rem;
}

.navbar img {
  width: 200px;
  border-radius: 10px;
}
